<!--DOCTYPE html -->
<ion-view style="" class=" " title="chat">
  <ion-nav-buttons side="secondary">
    <!--button class="button button-icon button-clear ion-ios-person"></button-->
    <button class="button button-icon button-clear ion-chatbubbles" ng-click="addMessage()"></button>
    <button class="button button-icon button-clear ion-ios-people"></button>

  </ion-nav-buttons>
  <ion-content style="background-color:#e6e6ff" class="has-header" padding="false">

    <!-- Contenu de la page -->
    <div class="list card">
      <a ng-click="conversation(Yves)" class="item item-icon-left">
        <i class="icon ion-person"></i> Yves
      </a>
    </div>
    <div class="list card">
      <a href="#" class="item item-icon-left">
        <i class="icon ion-person"></i> Wassim
      </a>
    </div>



    <!-- Pied de page -->
    <div class="tabs tabs-icon-top">
      <a class="tab-item" ui-sref="text_video">
        <i class="icon ion-star"></i> Textes
      </a>
      <a class="tab-item" ui-sref="video">
        <i class="icon ion-home"></i> Vidéos
      </a>
      <a class="tab-item" ui-sref="Exercice">
        <i class="icon ion-star"></i> Exercices
      </a>
      <a class="tab-item">
        <i class="icon ion-gear-a"></i> Chat
      </a>
    </div>


  </ion-content>
</ion-view>
