<!--DOCTYPE html -->
<ion-view style="" class=" " title="chat">
  <ion-nav-buttons side="secondary">
    <!--button class="button button-icon button-clear ion-ios-person"></button-->
    <button class="button button-icon button-clear ion-chatbubbles" ng-click="addMessage()"></button>
    <button class="button button-icon button-clear ion-ios-people"></button>

  </ion-nav-buttons>
  <ion-content style="background-color:#e6e6ff" class="has-header">
    <!-- Pied de page -->
    <div class="tabs tabs-icon-top">
      <a class="tab-item" ui-sref="text_video">
        <i class="icon ion-star"></i> Textes
      </a>
      <a class="tab-item" ui-sref="video">
        <i class="icon ion-home"></i> Vidéos
      </a>
      <a class="tab-item" ui-sref="Exercice">
        <i class="icon ion-star"></i> Exercices
      </a>
      <a class="tab-item">
        <i class="icon ion-gear-a"></i> Chat
      </a>
    </div>



    <br></br>
    <div class="list " ng-repeat="item in conversations" >
    <div class="overall">
      <!--div class="chatcontainer"><a class="photo" style="background-image: url(https://graph.facebook.com/100006582316470/picture?width=130&amp;height=130)"></a>
        <div class="chattext">
          <div class="status -online" title="User is online!"></div>
          <div class="chatname">Gal</div>
          <div class="chatmessage">Looking hot today like you always have before</div>
        </div>
        <div class="connection">
          <div class="time">10:39 PM</div>
        </div>
      </div-->
      <div class="chatcontainer" >
        <div class="photo" style="background-image: url(https://cdn-images-1.medium.com/max/600/1*0Cj-W6K2TP_xAh-rXxunBg.png)"></div>
        <div class="chattext" ng-click="discussion(item.title)">
          <div class="status -online" title="User is online!"></div>
          <div class="chatname">{{item.title}}</div>
          <div class="chatmessage -unread">{{item.lastMessage}}</div>
        </div>
        <div class="connection">
          <div class="time">10:39 PM </div>
          <!--div class="time">{{item.timestamp}}</div-->
        </div>
      </div>
    </div>




  </ion-content>
</ion-view>
