<ion-view style="" class=" "  title="Exercice pour l'atelier 1">
    <ion-content style="background-color:#e6e6ff" class="has-header" padding="false"  ng-init="loadexercice()"  >

<br> </br>
		
<br> </br>

<div ng-repeat="item in ex" ng-if="item.atelier==atelier&&item.type==hygene">
<center><h4>{{item.titre}}<h4></center> 
<center><h4>Description</h4>
  {{item.contenu}}
  </center> 
  </div>
<div class="tabs tabs-icon-top">
	 <a class="tab-item" ui-sref="text_video">
    <i class="icon ion-star"></i>
    Textes
  </a>
  <a class="tab-item" ui-sref="video">
    <i class="icon ion-home"></i>
    Vidéo
  </a>
 
   <a class="tab-item" ui-sref="Exercice">
    <i class="icon ion-star"></i>
    Exercice
  </a>
  <a class="tab-item">
    <i class="icon ion-gear-a"></i>
    Chat
  </a>
 
</div>
	</ion-content>
</ion-view>