/* Utilities */

.app-icon {
  background: rgba(0, 0, 0, 0) url("../img/app-icon.png") repeat scroll center center / cover;
  border-radius: 0%;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.video-container {
  position: relative;
  padding-bottom: 50%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.link {
  color: #116262;
  font-weight: bold;
}

h4 {
  color: #116262;
  font-size: 22px;
  margin-bottom: 16px;
}

h4:first-child {
  border-top: none;
  padding-top: initial;
}

.title-bordered {
  border-top: solid 2px #bbb;
  padding-top: 30px;
}

p {
  color: #555;
  margin: 0 0 25px;
}

.no-border {
  border: none;
}

.static {
  position: static;
}

.bold {
  font-weight: bold;
}

.border-top {
  border-top: solid 1px #ccc;
  padding-top: 30px;
}

.blue-grey-900 {
  background-color: #263238 !important;
  color: #fff;
}


/* Menu */

.menu .bar.bar-header.expanded {
  background-image: url('../img/material-graphite.jpg');
  background-size: 120%;
  background-position: 0%;
  transition: all .5s ease-in-out;
}

.menu.menu-left * {
  font-weight: bold;
}

.item-radio input:checked~.item-content {
  background: transparent;
}

.menu-open .ion-navicon {
  transform: rotate(-360deg);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
  content: "\f2ca";
}

.item.item-radio .radio-icon {
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.item.item-radio:active .radio-icon {
  opacity: 0;
  transform: scale(1.6);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.directions.button-bar {
  margin: 0 auto;
  width: 33.333%;
}

.directions.button-bar button {
  line-height: 26px;
}

.ion-arrow-right-c.top-left:before {
  transform: rotate(-135deg);
}

.ion-arrow-right-c.top-right:before {
  transform: rotate(-45deg);
}

.ion-arrow-right-c.bottom-left:before {
  transform: rotate(-225deg);
}

.ion-arrow-right-c.bottom-right:before {
  transform: rotate(45deg);
}

#modal {
  background-color: #ef4e3a;
  border-radius: 100%;
  box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.2);
  position: fixed;
  height: 50%;
  bottom: 0;
  opacity: 0;
  width: 700px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.expand #modal {
  background-color: #DBDBDB;
  border-radius: 0;
  border-top: solid 4px #ef4e3a;
  opacity: 1;
  z-index: 9;
}


/* CODE */

.code {
  color: #333;
  font-family: monospace;
  padding: 10px;
  white-space: pre;
}

.code-wrapper {
  padding-bottom: 30px;
  padding-top: 15px;
}

.code-wrapper::before {
  color: #1B5E20;
  font-family: "Ionicons";
  speak: none;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: '\f216 ';
}

.code-wrapper.active::before {
  content: '\f207 ';
}

.code-wrapper .toggle {
  color: #4CAF50;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 8px;
  text-decoration: underline;
}

.code-wrapper .code {
  opacity: 0;
  margin-top: -20px;
  height: 0;
  overflow: hidden;
  position: absolute;
  transition: 0.1s all ease-in-out;
  z-index: 9999999999;
}

.code-wrapper.code-wrapper-last .code {
  position: relative;
}

.code-wrapper.active .code {
  background: #f9f9f9;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  left: 16px;
  height: initial;
  margin-top: 15px;
  padding: 15px;
  right: 16px;
  opacity: 1;
  transition: 0.3s all ease-in-out;
  width: initial;
}

.popover {
  left: initial !important;
  right: 16px !important;
  top: 16px !important;
}

.platform-android .popover {
  margin-top: 10px;
}


/*New Profile cover page*/

.profile-nav .user-heading {
  /*background: #387ef5;*/
  background-image: url('../img/cover4.jpg');
  color: #fff;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  padding: 5px;
  text-align: center;
}

.profile-nav .user-heading.round a {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0.3);
  display: inline-block;
}

.profile-nav .user-heading a img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}


/*Footer*/

#footer {
  position: absolute;
  bottom: 0;
  height: 40px;
  margin-top: 40px;
}


/* Support Cover*/

.support-nav .user-heading {
  /*background: #387ef5;*/
  background-image: url('../img/material-graphite.jpg');
  color: #fff;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  padding: 5px;
  text-align: center;
}

.support-nav .user-heading.round a {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0.3);
  display: inline-block;
}

.support-nav .user-heading a img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

///* TODO:  */



.overall {
  width: 100%;
  height: 100%;
  margin: 20px;
}
.chatcontainer {
  display: flex;
  height: 80px;
  width: 75%;
  position: relative;
  border-radius: 2px;
  padding: 10px;
  margin: 0px 10%;
  background-color: #f0f0f0;
  box-shadow: 0 1px 3px 0 #707070, 0 1px 1px 0 #adadad;
  transition: box-shadow 0.15s ease-in-out;
}
.chatcontainer:hover {
  box-shadow: 0 5px 10px 0 #757575, 0 4px 5px 0 #a8a8a8;
}
.chatcontainer:active {
  background-color: #e0e0e0;
}
.chatcontainer .photo {
  display: block;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  background-size: cover;
  border-radius: 30px;
  border: 1px solid #eaeaea;
  top: 10px;
  left: 10px;
  cursor: pointer;
}
.chatcontainer .chattext {
  flex: 1;
  height: 60px;
  overflow: hidden;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
}
.chatcontainer .chattext .status {
  position: absolute;
  top: 10px;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}
.chatcontainer .chattext .status.-online {
  background-color: #37d316;
}
.chatcontainer .chattext .status.-offline {
  border: 1px solid #adadad;
}
.chatcontainer .chattext .chatname {
  position: absolute;
  top: 5px;
  left: 17px;
  color: #000;
  font-size: 1.5em;
}
.chatcontainer .chattext .chatmessage {
  top: 35px;
  position: absolute;
  width: 100%;
  height: 15px;
  line-height: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.chatcontainer .chattext .chatmessage.-unread {
  font-weight: bold;
}
.chatcontainer .connection {
  height: 60px;
  width: 60px;
  text-align: center;
  position: relative;
}
.chatcontainer .connection .time {
  position: absolute;
  top: 35px;
}



///////
.chat {
  width: 400px;
}

.bubble {
  border-radius: 5px;
  box-shadow: 0 0 6px #B2B2B2;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  vertical-align: top;
}

.bubble::before {
  content: "\00a0";
  display: block;
  height: 16px;
  position: absolute;
  top: 11px;
  transform: rotate( 29deg) skew( -35deg);
  -moz-transform: rotate( 29deg) skew( -35deg);
  -ms-transform: rotate( 29deg) skew( -35deg);
  -o-transform: rotate( 29deg) skew( -35deg);
  -webkit-transform: rotate( 29deg) skew( -35deg);
  width: 20px;
}

.me {
  background-color: #DEDEE5;
  float: left;
  margin: 5px 45px 5px 20px;
}

.me::before {
  background-color: #DEDEE5;
  box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4);
  left: -9px;
}

.you {
  background-color: #40A8FC;
  float: right;
  margin: 5px 20px 5px 45px;
}

.you::before {
  background-color: #40A8FC;
  box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4);
  right: -9px;
}
